---
layout: default
---
---
layout: default
---
<h1>Blog</h1>

<ul class="post-list">
  {% for post in site.posts %}
    <li class="post-item">
      <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
        <a href="{{ post.url | relative_url }}">
          <img src="{{ post.thumbnail | relative_url }}" alt="{{ post.title }}" class="thumbnail">
          <h2 class="post-title p-name" itemprop="name headline">{{ post.title | escape }}</h2>
          <p class="post-meta">
            <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              {{ post.date | date: date_format }}
            </time>
            {%- if post.author -%}
              * <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ post.author }}</span></span>
            {%- endif -%}
          </p>
        </a>
      </article>
    </li>
  {% endfor %}
</ul>
