body {
  margin: 0px;
  padding: 0px;
  color: #FFFFFF;
  font-size: 14px;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

header {
  width: 100%;
  background-color: white;
  height: 69px;
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: #000000;
  height: 60px;
  border-top: 1px solid #CCCCCC;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 60px;
  height: 60px;
  background: url("../images/BrianIkiara.jpg") no-repeat center;
  padding-left: 20px;
}
